@import url("https://use.typekit.net/fyh6moo.css");

/*  Rolagem */

::-webkit-scrollbar {
	width: 0.30rem;
	background-color: #F7F7F7;
}

::-webkit-scrollbar-thumb {
	background-color: #111111; 
	height: 1rem;
    border-radius: 1rem;
}

html{
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: brandon-grotesque, sans-serif;
}

:root{
    --white: #F7F7F7;
    --black: #111111;
    --yellow: #FFFF55;
    --gap: 2rem;
}

.main-container{
    width: 100%;
    max-width: 100rem;
    margin: 0 auto;
}

.button{
    display: inline-block;
    text-decoration: none;
    padding: 1.5rem;
    border-radius: 50rem;
    font-size: 2rem;
    font-weight: 500;
    cursor: pointer;
}

.black{
    background: var(--black);
    color: var(--yellow);
}

.yellow{
    background: var(--yellow);
    color: var(--black);
}

.black:hover{
    box-shadow: inset 0 0 0 3px var(--black);
    background: transparent;
    color: var(--black);
}

.yellow:hover{
    box-shadow: inset 0 0 0 3px var(--yellow);
    background: rgba(0, 0, 0, 0);
    color: var(--yellow);
}

h1{
    font-size: 4rem;
    font-weight: 600;
    padding-bottom: var(--gap);
}

h2{
    font-size: 3.5rem;
    font-weight: 500;
}

h4{
    font-size: 3rem;
    font-weight: 600;
}

h6{
    font-size: 1.8rem;
    font-weight: 400;
}

p{
    font-size: 1.8rem;
    font-weight: 400;
}

nav{
    position: fixed;
    z-index: 999;
    left: 40%;
}

nav.top{
    top: 0;
}

.navbar{
    background: var(--white);
    box-shadow: 0 0 1rem 0.3rem rgba(247, 247, 247, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar.top{
    width: 25rem;
    height: 6rem;
    border-radius: 0 0 3rem 3rem;
}

.navbar ul{
    display: flex;
}

.navbar ul li, .navbar ul li a{
    width: 5rem;
    height: 5rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease-in 0.2s;
    border-radius: 100%;
}

.navbar ul li svg{
    height: 2.5rem;
    width: 3.5rem;
}

.navbar ul li.active svg{
    fill: var(--white);
}

.navbar.top ul li:hover, .navbar.top ul li.active{
    background: var(--black);
    transform: translateY(2.5rem);
    box-shadow: 0 0 1rem 0.3rem rgba(247, 247, 247, 0.6);
}

main{
    background: var(--yellow);
    height: 95vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-home{
    max-width: 50rem;
    width: 100%;
    color: var(--black);
    padding-bottom: var(--gap);
}

.img-home svg{
    width: 85%;
}

.img-home{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.phrase-impact{
    background: var(--black);
    height: 50vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    color: var(--white);
}

.phrase-impact-text{
    width: 50%;
}

.phrase-impact-text h2{
    text-align: center;
}

.phrase-impact-text h6{
    text-align: right;
    padding-top: 2rem;
}

#work{
    background: var(--white);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
}

.project{
    width: 49%;
    height: 30rem;
    background-color: #FFFF55;
    overflow: hidden;
}

.project img{
    transition: all 300ms ease-in-out;
}

.project img:hover{
    transform: translate(-3%, 3%) scale(1.2);
}

.work-container-inner{
    display: flex;
    justify-content: space-around;
    margin: 1% 0;
}

.imluck{
    width: 100%;
    height: 50vh;
    background: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer{
    background: var(--yellow);
}

.footer-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 0;
}

.redes{
    display: flex;
}

.redes a{
    padding-left: var(--gap);
}

.redes svg{
    height: 4rem;
    fill: #111111;
}

.instagram svg:hover{
    fill: #bc2a8d;
}

.facebook svg:hover{
    fill: #3b5998;
}

.likedin svg:hover{
    fill: #0288d1;
}

@media (max-width: 1000px){
    .main-container{
        max-width: 80rem;
    }

    main{
        text-align: center;
    }

    .text-home{
        max-width: 100%;
    }
    .text-home p{
        font-size: 2.35rem;
    }
    
}