@import url("https://use.typekit.net/fyh6moo.css");

/*  Rolagem */

::-webkit-scrollbar {
	width: 0.30rem;
	background-color: #F7F7F7;
}

::-webkit-scrollbar-thumb {
	background-color: #111111; 
	height: 1rem;
    border-radius: 1rem;
}

html{
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: brandon-grotesque, sans-serif;
}

:root{
    --white: #F7F7F7;
    --black: #111111;
    --yellow: #FFFF55;
    --gap: 2rem;
}

.main-container{
    width: 100%;
    max-width: 100rem;
    margin: 0 auto;
}

.button{
    display: inline-block;
    text-decoration: none;
    padding: 1.5rem;
    border-radius: 50rem;
    font-size: 2rem;
    font-weight: 500;
    cursor: pointer;
}

.black{
    background: var(--black);
    color: var(--yellow);
}

.yellow{
    background: var(--yellow);
    color: var(--black);
}

.black:hover{
    box-shadow: inset 0 0 0 3px var(--black);
    background: transparent;
    color: var(--black);
}

.yellow:hover{
    box-shadow: inset 0 0 0 3px var(--yellow);
    background: rgba(0, 0, 0, 0);
    color: var(--yellow);
}

h1{
    font-size: 4rem;
    font-weight: 600;
    padding-bottom: var(--gap);
}

h2{
    font-size: 3.5rem;
    font-weight: 500;
}

h4{
    font-size: 3rem;
    font-weight: 600;
}

h6{
    font-size: 1.8rem;
    font-weight: 400;
}

p{
    font-size: 1.8rem;
    font-weight: 400;
}

nav{
    position: fixed;
    z-index: 999;
    left: 40%;
}

nav.top{
    top: 0;
}

.navbar{
    background: var(--white);
    box-shadow: 0 0 1rem 0.3rem rgba(247, 247, 247, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar.top{
    width: 25rem;
    height: 6rem;
    border-radius: 0 0 3rem 3rem;
}

.navbar ul{
    display: flex;
}

.navbar ul li, .navbar ul li a{
    width: 5rem;
    height: 5rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease-in 0.2s;
    border-radius: 100%;
}

.navbar ul li svg{
    height: 2.5rem;
    width: 3.5rem;
}

.navbar ul li.active svg{
    fill: var(--white);
}

.navbar.top ul li:hover, .navbar.top ul li.active{
    background: var(--black);
    transform: translateY(2.5rem);
    box-shadow: 0 0 1rem 0.3rem rgba(247, 247, 247, 0.6);
}

.project{
    background-position: center;
    background-size: cover;
    display: block;
    height: 95vh;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
  }

.osprey{
    background-image: url("../img/projetos/osprey.webp");
  }
  
  .rocca{
    background-image: url("../img/projetos/rocca.webp");
  }
  
  .nike{
    background-image: url("../img/projetos/nike.webp");
    background-color: #F7F7F7;
  }
  
  .miny{
    background-image: url("../img/projetos/miny.webp");
    background-color: #111111;
  }
  
  /* Projects */
  
  .content-project, .description{
    background: #F7F7F7;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .content-title .title{
    width: 100%;
    position: relative;
    left: 0;
    line-height: normal;
    display: block;
  }
  
  .content-title .caption{
    position: relative;
    left: 0;
    line-height: normal;
    display: block;
    font-size: 30px;
  }
  
  .content-description{
    width: 90%;
    display: flex;
  }
  
  .content-title{
    width: 40%;
    display: block;
    height: 50vh;
    position: relative;
    top: 30%;
    bottom: 30%;
  }
  
  .content-paragraph{
    width: 60%;
    display: flex;
    height: 50vh;
    align-items: center;
  
  }
  
  .container-1{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "box1 box1"
                         "box2 box3";
    width: 90%;
    margin-bottom: 20px;
  }
  
  .container-2{
    display: grid;
    grid-template-areas: "box4 box5 box6"
                         "box7 box7 box7"
                         "box8 box9 box10";
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2%;
    width: 90%;
  }
  
  .container-3{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "box1 box1"
                         "box2 box3"
                         "box4 box5";
    width: 90%;
  }
  
  .container-4{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "box1 box2"
                         "box3 box4"
                         "box5 box6";
    width: 90%;
  }
  
  .mockup-01, .social-01{
    grid-area: box1;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
  }
  
  .mockup-02, .social-02{
    grid-area: box2;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
  }
  
  .mockup-03, .social-03{
    grid-area: box3;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
  }
  
  .mockup-04, .social-04{
    grid-area: box4;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
  }
  
  .mockup-05, .social-05{
    grid-area: box5;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
  }
  
  .mockup-06, .social-06{
    grid-area: box6;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
  }
  
  .mockup-07{
    grid-area: box7;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
  }
  
  .mockup-08{
    grid-area: box8;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
  }
  
  .mockup-09{
    grid-area: box9;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
  }
  
  .mockup-10{
    grid-area: box10;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
  }
  
  .ospreywear.mockup-01{
    background-image: url("../img/projetos/osprey/1.webp");
  }
  .ospreywear.mockup-02{
    background-image: url("../img/projetos/osprey/2.webp");
  }
  .ospreywear.mockup-03{
    background-image: url("../img/projetos/osprey/3.webp");
  }
  .ospreywear.mockup-04{
    background-image: url("../img/projetos/osprey/4.webp");
  }
  .ospreywear.mockup-05{
    background-image: url("../img/projetos/osprey/5.webp");
  }
  .ospreywear.mockup-06{
    background-image: url("../img/projetos/osprey/6.webp");
  }
  .ospreywear.mockup-07{
    background-image: url("../img/projetos/osprey/7.webp");
  }
  .ospreywear.mockup-08{
    background-image: url("../img/projetos/osprey/8.webp");
  }
  .ospreywear.mockup-09{
    background-image: url("../img/projetos/osprey/9.webp");
  }
  .ospreywear.mockup-10{
    background-image: url("../img/projetos/osprey/10.webp");
  }
  
  .rocca-construtora.mockup-01{
    background-image: url("../img/projetos/rocca/1.webp");
  }
  .rocca-construtora.mockup-02{
    background-image: url("../img/projetos/rocca/2.webp");
  }
  .rocca-construtora.mockup-03{
    background-image: url("../img/projetos/rocca/3.webp");
  }
  .rocca-construtora.mockup-04{
    background-image: url("../img/projetos/rocca/4.webp");
  }
  .rocca-construtora.mockup-05{
    background-image: url("../img/projetos/rocca/5.webp");
  }
  .rocca-construtora.mockup-06{
    background-image: url("../img/projetos/rocca/6.webp");
  }
  .rocca-construtora.mockup-07{
    background-image: url("../img/projetos/rocca/7.webp");
  }
  .rocca-construtora.mockup-08{
    background-image: url("../img/projetos/rocca/8.webp");
  }
  .rocca-construtora.mockup-09{
    background-image: url("../img/projetos/rocca/9.webp");
  }
  .rocca-construtora.mockup-10{
    background-image: url("../img/projetos/rocca/10.webp");
  }
  
  .nike-solar.social-01{
    background-image: url("../img/projetos/nike/1.webp");
    border-radius: 20px;
  }
  .nike-solar.social-02{
    background-image: url("../img/projetos/nike/2.webp");
    border-radius: 20px;
  }
  .nike-solar.social-03{
    background-image: url("../img/projetos/nike/3.webp");
    border-radius: 20px;
  }
  .nike-solar.social-04{
    background-image: url("../img/projetos/nike/4.webp");
    border-radius: 20px;
  }
  .nike-solar.social-05{
    background-image: url("../img/projetos/nike/5.webp");
    border-radius: 20px;
  }
  
  .minypoint.social-01{
    background-image: url("../img/projetos/miny/1.webp");
    border-radius: 20px;
  }
  .minypoint.social-02{
    background-image: url("../img/projetos/miny/2.webp");
    border-radius: 20px;
  }
  .minypoint.social-03{
    background-image: url("../img/projetos/miny/3.webp");
    border-radius: 20px;
  }
  .minypoint.social-04{
    background-image: url("../img/projetos/miny/4.webp");
    border-radius: 20px;
  }
  .minypoint.social-05{
    background-image: url("../img/projetos/miny/5.webp");
    border-radius: 20px;
  }
  .minypoint.social-06{
    background-image: url("../img/projetos/miny/6.webp");
    border-radius: 20px;
  }